<h1>Strona główna</h1>
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edytuj profil', edit_user_registration_path %> |
          <%= link_to "Wyloguj", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Zarejestruj się", new_user_registration_path %> |
          <%= link_to "Zaloguj się", new_user_session_path %>
        <% end %>
