<%= form_for(@grupa) do |f| %>
  <% if @grupa.errors.any? %>
    <div id="error_explanation">
      <h2>Grupa nie została dodana z powodu następujących błędów </h2>

      <ul>
      <% @grupa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grupa %><br />
    <%= f.text_field :grupa %>
  </div>
    <div class="field">
      <%= f.label :rok_id, "Rok" %><br />
      <%= f.collection_select :rok_id, Rok.order(:rok), :id, :rok, include_blank: true %>
    </div>
    <div class="field">
      <%= f.label :przedmiot_id, "Przedmiot" %><br />
      <%= f.grouped_collection_select :przedmiot_id, Rok.order(:rok), :przedmioty, :rok, :id,  :przedmiot, include_blank: true  %>
    </div>


  <div class="field">
    <%= f.label :dzień %><br />
    <%= f.select :dzień, dzień_h%>
  </div>
  <div class="field">
    <%= f.label :godzina %><br />
    <%= f.time_select :godzina %>
  </div>
  <div class="field">
    <%= f.label :tydzień %><br />
    <%= f.select :tydzień, tydzień_h%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
