<h1>Lista grup</h1>

<table>
  <tr>
    <th>Grupa</th>
    <th>Rok</th>
    <th>Przedmiot</th>
    <th>Dzień</th>
    <th>Godzina</th>
    <th>Tydzień</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @grupy.each do |grupa| %>
  <tr>
    <td><%= grupa.grupa %></td>
    <td><%= grupa.przedmiot.rok.rok %></td>
    <td><%= grupa.przedmiot.przedmiot %></td>
    <td><%= grupa.dzień %></td>
    <td><%= formated_godzina(grupa.godzina) %></td>
    <td><%= grupa.tydzień %></td>
    <td><%= link_to 'Pokaż', grupa %></td>
    <td><%= link_to 'Edytuj', edit_grupa_path(grupa) %></td>
    <td><%= link_to 'Usuń', grupa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Dodaj grupę', new_grupa_path %>
