<p id="notice"><%= notice %></p>

<p>
  <b>Grupa:</b>
  <%= @grupa.grupa %>
</p>

<p>
  <b>Rok:</b>
  <%= @grupa.przedmiot.rok.rok %>
</p>


<p>
  <b>Przedmiot:</b>
  <%= @grupa.przedmiot.przedmiot %>
</p>

<p>
  <b>Dzień:</b>
  <%= @grupa.dzień %>
</p>

<p>
  <b>Godzina:</b>
  <%= @grupa.godzina %>
</p>

<p>
  <b>Tydzień:</b>
  <%= @grupa.tydzień %>
</p>


<%= link_to 'Edytuj', edit_grupa_path(@grupa) %> |
<%= link_to 'Powrót', grupy_path %>
