<%= form_for(@przedmiot) do |f| %>
  <% if @przedmiot.errors.any? %>
    <div id="error_explanation">
      <h2>Przedmiot nie został dodany z powodu następujących błędów </h2>

      <ul>
      <% @przedmiot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :rok_name, 'Rok' %>
      <%= f.text_field :rok_name, data: {autocomplete_source:  rok_autos_path} %>
    </div>

    <div class="field">
    <%= f.label :przedmiot %><br />
    <%= f.text_field :przedmiot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
