<%= form_for(@przedmiot) do |f| %>
  <% if @przedmiot.errors.any? %>
    <div id="error_explanation">
      <h2>Przedmiot nie został dodany z powodu następujących błędów </h2>

      <ul>
      <% @przedmiot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <%= f.label :rok_id, 'Wybierz rok' %>
      <%= f.collection_select :rok_id, Rok.find(:all), :id, :rok, :prompt => "Wybierz rok", include_blank: true  %>
    </div>
   <div class="field">
    lub dodaj nowy <%= f.label :new_rok_name, 'Rok' %><br />
    <%= f.text_field :new_rok_name %>
  </div>
  <div class="field">
    <%= f.label :przedmiot %><br />
    <%= f.text_field :przedmiot %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
